html, body{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
}

*{
    padding: 0%;
    margin: 0%;
}

img{
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

/*FONTS*/

/* JosefinSans-Bold - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/JosefinSans-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* JosefinSans-BoldItalic - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 900;
    src: local(''),
    url('../fonts/JosefinSans-BoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* JosefinSans-ExtraLightItalic - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 200;
    src: local(''),
    url('../fonts/JosefinSans-ExtraLightItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-Light - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('../fonts/JosefinSans-Light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-LightItalic - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 300;
    src: local(''),
    url('../fonts/JosefinSans-LightItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-Medium - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/JosefinSans-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-MediumItalic - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 500;
    src: local(''),
    url('../fonts/JosefinSans-MediumItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-Regular - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/JosefinSans-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-SemiBold - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/JosefinSans-SemiBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-SemiBoldItalic - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 600;
    src: local(''),
    url('../fonts/JosefinSans-SemiBoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-ThinItalic - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 100;
    src: local(''),
    url('../fonts/JosefinSans-ThinItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-Black - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/Poppins-Black.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-ExtraBoldItalic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: local(''),
    url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-ExtraLight - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: local(''),
    url('../fonts/Poppins-ExtraLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-ExtraLightItalic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 200;
    src: local(''),
    url('../fonts/Poppins-ExtraLightItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-Light - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('../fonts/Poppins-Light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-LightItalic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    src: local(''),
    url('../fonts/Poppins-LightItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-Medium - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/Poppins-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-MediumItalic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: local(''),
    url('../fonts/Poppins-MediumItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-Regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/Poppins-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-SemiBold - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/Poppins-SemiBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-SemiBoldItalic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    src: local(''),
    url('../fonts/Poppins-SemiBoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-Thin - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: local(''),
    url('../fonts/Poppins-Thin.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-ThinItalic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 100;
    src: local(''),
    url('../fonts/Poppins-ThinItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('../fonts/lato-v17-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*Welcome page*/
.welcome{
    position: absolute;
    width: 100%;
    height: 1400px;
    left: 0;
    top: 0;
    background: #7E33E0;
}

.welcome_header{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.welcome_header_text{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
}

.welcome_title{
    margin-top: 50px;
    margin-left: 36%;
}

.welcome_title:hover, .welcome_title:focus, .welcome_title:active{
    opacity: .75;
}

.welcome_title_text{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 90px;
}


.welcome_matrix{
    width: 100%;
    height: 80%;
}

.wrapper{
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Header styles*/
.header{
    width: 100%;
    height: 44px;
    left: 0;
    top: 0;
    background: #7E33E0;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.header_contact_us{
    display: inherit;
    padding-top: 12px;
    padding-right: 400px;
}

.header_email{
    display: inherit;
    padding-right: 36px;
}
.header_email_icon{
    height: 16px;
    width: 16px;
    padding-right: 12px;
}

.header_email_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.header_phone{
    display:inherit;
}

.header_phone_icon{
    height: 16px;
    width: 16px;
    padding-right: 12px;
}

.header_phone_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.header_config{
    display: inherit;
    padding-left: 200px;
    padding-top: 12px;
}

.header_config_each{
    display: inherit;
    padding-right: 10px;
}

.header_config_each_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #F1F1F1;
    padding-right: 5px;
    padding-top: 3px;
}

.header_config_each_icon{
    padding-top: 3px;
}


/*Navbar styles*/
.navbar{
    height: 78px;
}

.navbar_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.navbar_logo{
    margin-left: 50px;
    height: 34px;
    width: 98px;
    font-family: 'Josefin Sans';
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    padding: 22px 88px 0 10px;
}

.navbar_list{
    display: inherit;
    margin-top: 29px;
    margin-left: 150px;
}

.nav_item{
    margin-right: 35px;
}

.nav_link{
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.nav_link:hover, .nav_link:focus, .nav_link:active{
    color: #FB2E86;
    opacity: .75;
}

.nav_input{
    display: inherit;
    margin-top: 22px;
    margin-left: 210px;
    border: 2px solid #E7E6EF;
}

.nav_search_input{
    height: 30px;
    width: 150px;
    border: none;
}

.nav_input_back{
    background-color: #FB2E86;
    height: 32px;
    width: 51px;
    border: none;
}

.nav_input_icon{
    margin: 3px 11px;
}

/*Slider styles*/
.slider{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 764px;
    background: #F2F0FF;
}

.slider_lamp{
    padding-left: 300px;
    width: 347px;
    height: 347px;
}

.slider_intro{
    padding-top: 200px;
    width: 645px;
}

.slider_intro_subtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FB2E86;
    padding-bottom: 20px;
}

.slider_intro_title{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 53px;
    line-height: 70px;
    letter-spacing: 0.015em;
    color: #000000;
    padding-bottom: 20px;
}

.slider_intro_desc{
    font-family:'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    color: #8A8FB9;
    padding-bottom: 10px;
}

.slider_intro_button{
    width: 163px;
    height: 50px;
    background: #FB2E86;
    border-radius: 8px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}

.slider_sale{
    position: relative;
    padding-left: 300px;
    width: 706px;
    height: 689px;
}

.slider_sofa{
    position: absolute;
    margin-top: 100px;
    z-index: 3;
}

.slider_ellipse-1{
    position: absolute;
    margin-top: 70px;
}

.slider_ellipse-2{
    position: absolute;
    margin-left:30px;
    margin-top: 30px;
}

.slider_icon{
    position: absolute;
    margin-top: 80px;
    margin-left: 600px;
}

.slider_sale_icon{
    position: absolute;
    top:120px;
    right:0;
}

.slider_sale_icon_text{
    width: 69px;
    height: 74px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    z-index: 11;
    line-height: 37px;
    color: #FFFFFF;
}

/*Feature styles*/

.features_title{
    padding-top: 130px;
    text-align: center;
}

.feature_title_text{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 42px;
    color: #1A0B5B;
}

.features_items{
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 361px;
}

.features_item_figure{
    display: flex;
    background: #F6F7FB;
    width: 270px;
    height: 236px;
    justify-content: center;

}

.features_item_figure_pic{
    width: 178px;
    height: 178px;
    padding: 46px 52px;
}

.features_item{
    padding-right: 120px;
}

.features_item_desc{
    width: 270px;
    height: 125px;
    background: #f2f2f2;
}

.features_item_title{
    padding: 15px 71px 0 71px;
    color:#FB2E86;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.features_item_code{
    padding: 28px 79px 0 79px;
    color: #151875;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

.features_item_price{
    padding: 12px 111px 0 111px;
    color: #151875;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.features_item:last-child{
    padding-right: 0;
}


@media screen and (min-width: 1440px){
    .wrapper{
        max-width: 1440px;
    }

    .header_contact_us{
        padding-left: 45px;
    }

    .slider_lamp {
        padding-left: 70px;
    }

    .slider_intro{
        width: 550px;
    }

    .slider_intro_subtitle {
        font-size: 14px;
        line-height: 20px;
    }

    .slider_intro_title {
        font-size: 40px;
        line-height: 52px;
    }

    .slider_sale{
        padding-left: 150px;
    }

}