html, body{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
}

*{
    padding: 0%;
    margin: 0%;
}

img{
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

/*FONTS*/

/* JosefinSans-Bold - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/JosefinSans-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* JosefinSans-BoldItalic - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 900;
    src: local(''),
    url('../fonts/JosefinSans-BoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* JosefinSans-ExtraLightItalic - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 200;
    src: local(''),
    url('../fonts/JosefinSans-ExtraLightItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-Light - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('../fonts/JosefinSans-Light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-LightItalic - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 300;
    src: local(''),
    url('../fonts/JosefinSans-LightItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-Medium - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/JosefinSans-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-MediumItalic - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 500;
    src: local(''),
    url('../fonts/JosefinSans-MediumItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-Regular - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/JosefinSans-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-SemiBold - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/JosefinSans-SemiBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-SemiBoldItalic - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 600;
    src: local(''),
    url('../fonts/JosefinSans-SemiBoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Josefin Sans-ThinItalic - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 100;
    src: local(''),
    url('../fonts/JosefinSans-ThinItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-Black - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/Poppins-Black.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-ExtraBoldItalic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: local(''),
    url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-ExtraLight - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: local(''),
    url('../fonts/Poppins-ExtraLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-ExtraLightItalic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 200;
    src: local(''),
    url('../fonts/Poppins-ExtraLightItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-Light - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('../fonts/Poppins-Light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-LightItalic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    src: local(''),
    url('../fonts/Poppins-LightItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-Medium - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/Poppins-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-MediumItalic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: local(''),
    url('../fonts/Poppins-MediumItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-Regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/Poppins-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-SemiBold - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/Poppins-SemiBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-SemiBoldItalic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    src: local(''),
    url('../fonts/Poppins-SemiBoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-Thin - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: local(''),
    url('../fonts/Poppins-Thin.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Poppins-ThinItalic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 100;
    src: local(''),
    url('../fonts/Poppins-ThinItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('../fonts/lato-v17-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*Welcome page*/
.welcome{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #7E33E0;
}

.welcome_header{
    position: absolute;
    width: 206px;
    height: 25px;
    left: 650px;
    top: 200px;
}

.welcome_header_text{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 25px;
}

.welcome_title{
    position: absolute;
    width: 849px;
    height: 90px;
    left: 410px;
    top: 260px;
}

.welcome_title:hover, .welcome_title:focus, .welcome_title:active{
    opacity: .75;
}

.welcome_title_text{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 90px;
}


.welcome_matrix{
    position: absolute;
    width: 1410px;
    height: 587px;
    top: 320px;
    right: -10px;
}

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Header styles*/
.header{
    width: 100%;
    height: 44px;
    left: 0;
    top: 0;
    background: #7E33E0;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.header_contact_us{
    display: inherit;
    padding-top: 12px;
    padding-right: 300px;
}

.header_email{
    display: inherit;
    padding-right: 36px;
}
.header_email_icon{
    height: 16px;
    width: 16px;
    padding-right: 12px;
}

.header_email_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.header_phone{
    display:inherit;
}

.header_phone_icon{
    height: 16px;
    width: 16px;
    padding-right: 12px;
}

.header_phone_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.header_config{
    display: inherit;
    padding-top: 12px;
}

.header_config_each{
    display: inherit;
    padding-right: 10px;
}

.header_config_each_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #F1F1F1;
    padding-right: 5px;
    padding-top: 3px;
}

.header_config_each_icon{
    padding-top: 3px;
}


/*Navbar styles*/
.navbar{
    height: 78px;
}

.navbar_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.navbar_logo{
    height: 34px;
    width: 98px;
    font-family: 'Josefin Sans';
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    padding: 22px 88px 0 10px;
}

.navbar_list{
    display: inherit;
    margin-top: 29px;
    margin-right: 100px;
}

.nav_item{
    margin-right: 35px;
}

.nav_link{
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.nav_link:hover, .nav_link:focus, .nav_link:active{
    color: #FB2E86;
    opacity: .75;
}

.nav_input{
    display: inherit;
    margin-top: 22px;
    border: 2px solid #E7E6EF;
}

.nav_search_input{
    height: 30px;
    width: 150px;
    border: none;
}

.nav_input_back{
    background-color: #FB2E86;
    height: 32px;
    width: 51px;
    border: none;
}

.nav_input_icon{
    margin: 3px 11px;
}